<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hibernate.hbm2ddl.auto">create</property>  
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>  
        <property name="connection.url">jdbc:hsqldb:hsql://localhost/</property>  
        <property name="connection.username">SA</property>  
        <property name="connection.password"></property>  
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>  
   		 <!--    <mapping resource = "inheritance/table_per_class.hbm.xml" /> --> 
   		    <!--   <mapping resource = "inheritance/table_per_subclass.hbm.xml" /> -->
   		       <mapping resource = "inheritance/table_per_concrete.hbm.xml" /> 
   		 
   		  <!--   <mapping class="inheritance.Employee"/>  
<mapping class="inheritance.Regular_Emp"/>  
<mapping class="inheritance.Contract_Emp"/>  -->
   		 
    </session-factory>  
  
</hibernate-configuration>  